{% import 'lib/lib.html' as lib %}

{%- macro text_filter(field, option_field, show_label) -%}
    {{ lib.control_group() }}
        {% if show_label %} <span class="control-label">{{ option_field.label }}</span> {% endif %}
        {{ lib.controls(inline=True, otherclass='filter') }}
            {% if option_field %} {{ lib.print_field(option_field) }} {% endif %}
            {{ lib.edit_panel() }}
                {{ lib.panel_heading(option_field.label) }}
                {{ lib.print_field(field, fieldargs={'placeholder': field.placeholder}) }}
                {{ lib.field_error(field) }}
            </div>
        </div>
    </div>
{%- endmacro %}

{%- macro checkbox_filter(fields, option_field, show_label) -%}
    {{ lib.control_group() }}
       {% if show_label %}<span class="control-label">{{ option_field.label }}</span>{% endif %}
        {{ lib.controls(inline=True, otherclass='filter') }}
            {% if option_field %} {{ lib.print_field(option_field) }} {% endif %}
            {{ lib.edit_panel() }}
                {{ lib.panel_heading(option_field.label) }}
                {% for field in fields %} 
                    <label class=checkbox>
                        {{ lib.print_field(field) }} {{ field.label }}
                    </label>
                {% endfor %}
            </div>
        </div>
    </div>
{%- endmacro %}

{%- macro radio_filter(field, option_field, show_label) -%}
    {{ lib.control_group() }}
        {% if show_label %} <span class="control-label">{{ option_field.label }}</span> {% endif %}
        {{ lib.controls(inline=True, otherclass='filter') }}
            {% if option_field %} {{ lib.print_field(option_field) }} {% endif %}
            {{ lib.edit_panel() }}
                {{ lib.panel_heading(option_field.label) }}
                {{ lib.print_radiofield(field) }}
            </div>
        </div>
    </div>
{%- endmacro %}
