{% import 'lib/views.html' as lib_view %}

{% set layout_cols = data_rows_manager.get_view().layout_number_columns %}
{% set spanCol = (12 / layout_cols)|int %}

    {% for group in rows %}
        {% if not group[0] == () %}
            <h2>{{ data_rows_manager.get_group_header(group[0]) }}</h2>

        {% endif %}
        <div class="row-fluid">
        {% set group_rows_count = group[1]|length %}
        {% set group_max_rows_per_col = (group_rows_count / layout_cols)|round(method='ceil')|int %}

        {% for col_number in range(0, layout_cols) %}
            <div class="span{{ spanCol }}">
                <table class="table table-striped table-bordered table-condensed">
                    <thead>
                        <tr>
                            {% for col_title in data_rows_manager.get_asked_columns_title() %} 
                                    {% set colIndex = data_rows_manager.get_asked_columns_title().index(col_title) %}
                                    {% set colName = data_rows_manager.get_asked_columns_name()[colIndex] %}
                                    {% set sortOrderAttr = '' %}
                                    {% set sortDic = data_rows_manager.get_sorters_dic() %} 
                                    {% if sortDic.has_key(colName) %}
                                        {% set sortOrderAttr = data_rows_manager.get_sorters_dic()[colName] %}
                                    {% endif %}
                                    <th sortOrder='{{sortOrderAttr}}' colname='{{colName}}'>
                                        <a class='header-link' href='{{controller.get_sort_url(request, colName, sortOrderAttr)}}'>
                                            {{ col_title }}
                                            {% if sortOrderAttr == '0' %}
                                                <i class="icon-chevron-up"></i>
                                            {% elif sortOrderAttr == '1' %}
                                                <i class="icon-chevron-down"></i>
                                            {% else %}
                                                <i class="icon-resize-vertical"></i>
                                            {% endif %}
                                        </a>
                                    </th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                            {% set start=(col_number*group_max_rows_per_col)|int %}
                            {% set end=(start+group_max_rows_per_col)|int %}
                            {% if end > group_rows_count %}  
                                {% set end = group_rows_count %} 
                            {% endif %}

                            {% for row_number in range(start, end) %} 
                                <tr>
                                    {% for elem in data_rows_manager.get_asked_columns_name() %}
                                    {% set value = group[1][row_number][elem] %}
                                        <td class="col {{elem}} {{value}}">{{ value }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
    {% endfor %}
