.center-badge
{
    margin:auto;
    display:block;
    text-align:center;
    width:60px;
}

span.col.host_state.UP
{
.badge;
.badge-success;
.center-badge;
background-color:#3BCF3B;
}

span.col.host_state.DOWN
{
.badge;
.badge-important;
.center-badge;
background-color:#FF2200;
}

