@import url('http://twitter.github.com/bootstrap/assets/css/bootstrap.css');
html, body {
    margin: 0;
    height: 100%;
    padding-top:10px;
}


.sidebar-nav-fixed {
    left: 20px;
    padding: 9px 0;
    position: fixed;
    top: 60px;
    width: 280px;
}


.row-fluid > .span-fixed-sidebar {
    margin-left: 300px;
}

.container-fluid {
    margin: 0 auto;
    height: 100%;
    padding: 0px 0;
 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.columns {
    background-color: #C9E6FF;
    height: 100%;
   
}

.content-area, .article-tree{
    background: #bada55;
    overflow:auto;
    height: 100%;
}

.row-fluid .content-area {
    margin-left:0;

}

.footer {
  background: red;
  height: 20px;
}
